<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.system.dao.SysMenuDao">
  <resultMap id="BaseResultMap" type="com.cmcc.system.entity.SysMenu">
    <id column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="top_title" jdbcType="VARCHAR" property="topTitle" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="lessee_id" jdbcType="VARCHAR" property="lesseeId" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, parent_id, menu_type, top_title, title, url, icon, status, sort, create_user, 
    create_time, update_user, update_time, lessee_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectPage" parameterType="com.cmcc.system.entity.SysMenu" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    <where>
    	<if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=VARCHAR}
      </if>
      <if test="topTitle != null">
        top_title = #{topTitle,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="lesseeId != null">
        lessee_id = #{lesseeId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="selectMyMenu" parameterType="com.cmcc.system.entity.SysMenu" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    <where>
    	<if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=VARCHAR}
      </if>
      <if test="topTitle != null">
        top_title = #{topTitle,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="lesseeId != null">
        lessee_id = #{lesseeId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sm.* from sys_menu sm
	LEFT JOIN sys_role_menu rm on sm.menu_id=rm.menu_id
	LEFT JOIN sys_user_role ur on rm.role_id= ur.role_id
    where ur.user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmcc.system.entity.SysMenu">
    insert into sys_menu (menu_id, parent_id, menu_type, 
      top_title, title, url, 
      icon, status, sort, 
      create_user, create_time, update_user, 
      update_time, lessee_id)
    values (#{menuId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, 
      #{topTitle,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=DATE}, #{lesseeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.system.entity.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="topTitle != null">
        top_title,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="lesseeId != null">
        lessee_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="topTitle != null">
        #{topTitle,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="lesseeId != null">
        #{lesseeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.system.entity.SysMenu">
    update sys_menu
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="topTitle != null">
        top_title = #{topTitle,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="lesseeId != null">
        lessee_id = #{lesseeId,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.system.entity.SysMenu">
    update sys_menu
    set parent_id = #{parentId,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      top_title = #{topTitle,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      lessee_id = #{lesseeId,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>