<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.system.dao.SysPostDao">
  <resultMap id="BaseResultMap" type="com.cmcc.system.entity.SysPost">
    <id column="post_id" jdbcType="VARCHAR" property="postId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="lessee_id" jdbcType="VARCHAR" property="lesseeId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    post_id, org_id, lessee_id, parent_id, post_code, post_name, description, status, 
    create_user, create_time, update_user, update_time, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_post
    where post_id = #{postId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPostName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_post
    where post_name = #{postName,jdbcType=VARCHAR} limit 1
  </select>
  
  <select id="selectPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_post
    <where>
      <if test="orgId != null">
        and org_id = #{orgId,jdbcType=VARCHAR}
      </if>
      <if test="lesseeId != null">
        and lessee_id = #{lesseeId,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="postCode != null">
        and post_code = #{postCode,jdbcType=VARCHAR}
      </if>
      <if test="postName != null">
        and post_name = #{postName,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_post
    where post_id = #{postId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmcc.system.entity.SysPost">
    insert into sys_post (post_id, org_id, lessee_id, 
      parent_id, post_code, post_name, 
      description, status, create_user, 
      create_time, update_user, update_time, 
      sort)
    values (#{postId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{lesseeId,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.system.entity.SysPost">
    insert into sys_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        post_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="lesseeId != null">
        lessee_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="lesseeId != null">
        #{lesseeId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.system.entity.SysPost">
    update sys_post
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="lesseeId != null">
        lessee_id = #{lesseeId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.system.entity.SysPost">
    update sys_post
    set org_id = #{orgId,jdbcType=VARCHAR},
      lessee_id = #{lesseeId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      sort = #{sort,jdbcType=INTEGER}
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
</mapper>